<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OptimizationTableVIew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46CB61761D7EFD50008C639F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46CB618F1D7EFD50008C639F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46CB619A1D7EFD50008C639F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
